{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers</h1>
    <form method="post" action="{% url 'taxi:car-assign' pk=car.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">{% if user in car.drivers.all %} Delete me from this car {% else %} Assign me to this car {% endif %}
    </button>
  </form>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li> Username: {{ driver.username }} </li>
      <li> Full name: {{ driver.first_name }} {{ driver.last_name }}</li>
      <li> License number: {{ driver.license_number }}</li>
    {% endfor %}
  </ul>
  
  <div class="mt-3 d-flex justify-content-start">
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </div>
{% endblock %}
